body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
}

.location-bar {
    background-color: #0d5d60; /* Color de fondo similar al de la imagen */
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.location-bar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.location-bar a:hover {
    text-decoration: underline;
}

.icon {
    width: 16px;
    height: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
}
.container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 250px;
    height: auto;
}
.nav-links a, .actions a {
    color: #0d5d60;
    text-decoration: none;
    font-size: 20px;
    padding: 43px 25px;
    flex-grow: 1;
    text-align: center;
}

.nav-links a {
    background-color: white;
    color: black;
   /* border: 2px solid #0d5d60; */
    margin: 0;
   /* border-radius: 5px; */
}

.nav-links a:hover {
    background-color: #f0f0f0;
    color: #0d5d60;
}

.nav-links a:hover {
    background-color: #8282823b;
    color: #49BEB7;
    padding: 45px 25px;
   /* border-radius: 5px; */
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search input {
    padding: 5px;
    font-size: 14px;
}

.search button {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}


.actions .buttonBL {
    background-color: #49BEB7;
    color: white;
    padding: 10px 50px;
    border-radius: 50px;
    font-size: 14px;
}

.actions .buttonNotc {
    background-color: white;
    color:  #49BEB7;
    padding: 10px 50px;
    border-radius: 50px;
    border: 1px solid #49BEB7;
    font-size: 14px;
}

.image-slider {
    position: relative;
    width: 1335px;
    height: 576px;
    overflow: hidden;
}

.slider-image {
    position: absolute;
    width: 1335px;
    height: 576px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slider-image:first-child {
    opacity: 1;
}

.button-section {
    grap: 10px;
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.button-item {
    width: 20%;
    text-align: center;
    border: 1px solid #000000;
}

.button-image {
    width: 253px;
    height: 163px;
    object-fit: cover;
}

.button-item a {
    text-decoration: none;
    color: black;
}

.button-item:hover .button-image {
    filter: grayscale(50%);
}

.button-item span {
    display: block;
    color: #085F63;
    font-size: 18px;
}

.button-item span2 {
    display: block;
    color: #085F63;
    font-size: 18px;
    font-weight: bold;
}