/* botón Back to Top */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #085F63;
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none; /* Inicialmente está escondido */
    z-index: 1000;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.back-to-top:hover {
    background-color: #0a7a7f;
    transform: scale(1.1);
}