*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
}




.location-bar {
    background-color: #0d5d60;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.location-bar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.3s;
}

.location-bar a:hover {
    text-decoration: underline;
    transform: scale(1.05);
}

.icon {
    width: 16px;
    height: 16px;
}

@media screen and (max-width: 412px) {
    .location-bar {
        justify-content: center;  /* Centra la barra */
        padding: 5px;             /* Reduce el padding */
        height: 35px;             /* Ajusta la altura como la de la imagen */
    }

    .location-bar a {
        font-size: 14px;          /* Texto más pequeño */
    }

    .icon {
        width: 12px;              /* Íconos más pequeños */
        height: 12px;
    }
}




.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    flex-wrap: wrap;
}



.container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}




.logo {
    width: 250px;
    height: auto;
    transition: 0.3s;
}




.nav-links a, .actions a {
    color: #0d5d60;
    text-decoration: none;
    font-size: 20px;
    padding: 43px 25px;
    flex-grow: 1;
    text-align: center;
    transition: 0.3s;
}

.nav-links a:hover {
    background-color: #f0f0f0;
    color: #0d5d60;
}
.nav-links a {
    background-color: white;
    color: black;
   /* border: 2px solid #0d5d60; */
    margin: 0;
   /* border-radius: 5px; */
}

.nav-links a:hover {
    background-color: #8282823b;
    color: #49BEB7;
    padding: 45px 25px;
   /* border-radius: 5px; */
}




.search {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}

.search input {
    padding: 5px;
    font-size: 14px;
}

.search button {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}


.actions .buttonBL {
    background-color: #49BEB7;
    color: white;
    padding: 10px 50px;
    border-radius: 50px;
    font-size: 14px;
}

.actions .buttonNotc {
    background-color: white;
    color:  #49BEB7;
    padding: 10px 50px;
    border-radius: 50px;
    border: 1px solid #49BEB7;
    font-size: 14px;
}

@media screen and (max-width: 412px) {
    .header {
        flex-direction: column;  /* Apila los elementos */
        align-items: center;
        padding: 10px;
    }

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .logo {
        width: 180px;
    }

    .nav-links {
        display: none;
    }

    .actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .actions .buttonBL {
        width: 80%;
        max-width: 300px;  
        padding: 15px;
        font-size: 18px;
        text-align: center;
    }

    .search {
        justify-content: center;
        width: 100%;
        gap: 5px;
    }

    .search input {
        width: 70%;
        font-size: 16px;
    }

    .search button {
        padding: 8px 15px;
        font-size: 16px;
    }

    .actions .buttonNotc {
        background-color: white;
        color:  white;
        padding: 0px;
        font-size: 0px;
    }
}


.image-slider {
    position: relative;
    width: 100%;
    height: 576px;
    overflow: hidden;
    transition: 0.5s;
}

.slider-image {
    position: absolute;
    width: 100%;
    height: 576px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slider-image:first-child {
    opacity: 1;
}

@media screen and (max-width: 412px) {
    .image-slider {
        display: none;
    }
}


.button-section {
    display: flex;
    justify-content: space-around;
 
    margin: 50px 100px;
    gap: 0px;
}

.button-item {
    width: 20%;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: 0.3s;  
}

.button-image {
    width: 100%;
    max-width: 177px;
    height: 114px;
    margin-top: 5%;
    align-items: center;
    object-fit: cover;
}

.button-item a {
    text-decoration: none;
    color: black;
}

.button-item:hover {
    filter: grayscale(100%);
}

.button-item span {
    display: block;
    color: #085F63;
    font-size: 18px;
}

.button-item span2 {
    display: block;
    color: #085F63;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5%;
}
@media screen and (max-width: 412px) {
    .button-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);  
        gap: 10px;                              
        margin: 20px;                           
    }
    
    
    .button-item {
        width: 100%;                            
        max-width: 180px;                       
        height: auto;
        padding: 15px;                          
        border: 1px solid #ccc;                 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
        transition: 0.3s;
    }

    .button-image {
        width: 100%;
        max-width: 100px;                      
        height: auto;
    }

    .button-item span, .button-item span2 {
        font-size: 16px;                       
    }
}

.image-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0;
    margin-left: 10%;
    gap: 20px;
}

.image-item {
    width: 507px;
    height: 279px;
    text-align: center;
    margin-bottom: 4%;
    margin-right: 2%;
    transition: 0.3s;
}

.image-box {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

@media screen and (max-width: 412px) {
    .image-section {
        display: flex;
        flex-direction: column;  
        align-items: center;
        justify-content: center;
        margin: 10px 0;          
        gap: 15px;              
    }

    .image-item {
        width: 100%;              
        max-width: 350px;         
        height: auto;             
        margin: 0;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
        border-radius: 8px;       
        padding: 20px;            
    }

    .image-box {
        width: 100%;
        height: auto;             
        max-width: 300px;         
        object-fit: contain;    
    }
}



.button-inside {
    display: block;
    background-color: #0d5d60;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.button-inside:hover {
    background-color: #49BEB7;
}




.help-section {
    background-color: #49BEB7;
    height: 395px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-content {
    text-align: center;
    color: white;
    margin-top: 1%;
    margin-bottom: 2%;
}

.help-icon {
    font-size: 50px;
    margin-bottom: -20px;
}

.help-content h2 {
    font-size: 40px;
    margin-bottom: -5px;
}

.help-content p {
    font-size: 24px;
    margin-bottom: 40px;
}

.help-button {
    background-color: white;
    color: #1abc9c;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 24px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.help-button:hover {
    background-color: #16a085;
    color: white;
}


@media screen and (max-width: 412px) {
    .help-content h2 {
        font-size: 34px;
        margin-bottom: -5px;
    }
    
    .help-content p {
        font-size: 18px;
        margin-bottom: 40px;
    }
}


.footer {
    background-color: #f1f1f1;
    height: 20px;
    text-align: left;    
    transition: 0.3s;  
}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3%;
    gap: 20px;   
}

.footer-links div {
    width: 18%;
    transition: 0.3s;
}

.footer-links h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.footer-links a {
    color: #666;
    text-decoration: none;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;    
    transition: 0.3s;
}

.footer-links a:hover {
    color: #1abc9c;
    transform: scale(1.05);
}

.footer-bottom {
    border-top: 3px solid #ddd;
    text-align: center;
    padding: 3%;
}

.footer-bottom p {
    font-size: 18px;
    color: #333;
    margin-bottom: 3%;
}


@media screen and (max-width: 412px) {
    .footer {
        padding: 10px 0;               
    }
    
    .footer-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;                            
        text-align: center;                    
    }

    .footer-links div {
        width: 100%;                        
        padding: 5px;                       
        border: 1px solid #ccc;             
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        background: white;                   
        transition: 0.3s;
    }

    .footer-links h3 {
        font-size: 12px;                       
    }

    .footer-links a {
        font-size: 10px;                       
    }

    .footer-bottom {
        padding: 10px;
    }

    .footer-bottom p {
        font-size: 14px;                       
    }
}


.social-footer {
    background-color: #1abc9c;
    padding: 25px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s
}

.rif {
    text-align: left;
    font-size: 18px;
    color: white;
}

.footer-logo {
    width: 250px;
    height: auto;
    margin-bottom: 1%;
    transition: 0.3s;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    transition: 0.3s;
}

.social-icon {
    width: 55px;
    height: 55px;
    display: flex;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 412px) {
    .social-footer {
        display: flex;
        justify-content: center; 
        align-items: center;       
        padding: 40px;             
    }

    .rif {
        text-align: center;       
        font-size: 22px;           
    }

    .footer-logo,
    .social-icons {
        display: none;             
    }
}   


